// 按鈕設定
$btn-font-color:$color-word;
$btn-border:darken($color-word, 5);
$btn-padding:.5em 1.5em;
$btn-radius:.2em;
// 按鈕外框
.btn_grp {
    text-align: center;
    padding: 1em 0;

    &.clock_in{
        text-align: left;
    }
}

// 按鈕的共用設定
@mixin btn_setting($btn-bg:#f5f5f5, $btn-font-color:$btn-font-color) {
    background-color: $btn-bg;
    border: 1px solid darken($btn-bg, 15);
    color: $btn-font-color;
    text-shadow:1px 1px 1px RGBA(0,0,0,.3);
    @include border-radius($btn-radius);
    @include gradient(lighten($btn-bg, 5), darken($btn-bg, 15), vertical);
    &:hover, &:focus {
        background-color: darken($btn-bg, 10); // Old browsers
        border: 1px solid darken($btn-bg, 20) !important;
        cursor: pointer;
        color: #FFF;
        outline:none;
        @include gradient(lighten($btn-bg, 10), darken($btn-bg, 18), vertical);
    }
    &.active {
        background: lighten($btn-bg, 5);
        cursor: pointer;
    }
}
// 按鈕預設陰影
%btn {
    font-size: $font-size;
    touch-action: manipulation;
    background-image: none; //修正firefox
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    line-height: normal;
    width: auto;
    padding: $btn-padding;
    min-width: 4em;
    margin: .25em .1em;
    
    i {
        margin-right: .3em;
        margin-left: .3em;
    }
}
// 按鈕基本樣式
.btn {
    @extend %btn;
    @include box-sizing;
    @include btn_setting;
    text-shadow:none;
    &:hover,
    &:focus {
        color: $btn-font-color;
        outline: none;
    }
}
//按鈕顏色
//@include btn_setting(按鈕顏色,字的顏色);
.btn-green {
    @extend %btn;
    @include btn_setting($color-green, #FFF);
}
.btn-blue {
    @extend %btn;
    @include btn_setting($color-blue, #FFF);
}
.btn-yellow {
    @extend %btn;
    @include btn_setting(lighten($color-yellow, 5), #FFF);
}
.btn-orange {
    @extend %btn;
    @include btn_setting(lighten($color-orange, 10), #FFF);
}
.btn-red {
    @extend %btn;
    @include btn_setting($color-red, #FFF);
}
.btn-purple {
    @extend %btn;
    @include btn_setting(lighten($color-purple, 5), #FFF);
}
.btn-submit {
    @extend %btn;
    @include btn_setting(lighten($primaryColor, 5), #FFF);
}
.btn-reset {
    @extend %btn;
    color:lighten($color-word,15);
}
.btn-primary {
    @extend .btn-orange;
}
// 按鈕大小
.btn-xl {
    font-size: $font-size * 1.5; //24px
}
.btn-lg {
    font-size: $font-size * 1.25; //20px
}
.btn-sm {
    font-size: $font-size * .938; //15px
}
.btn-xs {
    font-size: $font-size * .75; //12px
}


// more
.more{
    text-align: center;
    a{
        display: block;
        max-width: 260px;
        margin: .5em auto;
        padding-top: .45em;
        padding-bottom: .45em;
        border-radius: 3px;
        color: #fff;
        background: #222;
        // @extend %btn;
        // @include btn_setting(#222, #FFF);
    }
    @include screen('mobile') {
        a{  margin: 1em auto .5em; }
    }
}

.edite{
    text-align: center;
    a{
        display: block;
        width: 90px;
        margin: .25em auto;
        padding-top: .35em;
        padding-bottom: .35em;
        background: #989898;
        border-radius: 3px;
        color: #fff;
        // font-size: .9em;
    }
}
.logout{}

.apply{
    a{
        // display: block;
        @extend %btn;
        color: #fff !important;
        @include gradient(#008fea, #702aff, horizontal);

        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0,0,0,0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;

        border-radius: 3px;
        overflow: hidden;


        &:after{
            content: "";
            position: absolute;
            z-index: 2;
            width: 60px;
            height: 30px;
            left: 90px;

            background: url(../images/icon-long-arrow.svg) 50% 50% no-repeat;

            transform: translate(30px, 0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: .3s;
            transition-timing-function: ease-out;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(12, 53, 173, .75);
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:active, &:focus, &:hover{
            color: #fff;
            &:after{
                transform: translate(100px,0);
            }
            &:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        } 
    }
}
// @keyframes goHover {
//     0% { left: 120px; }
//     100% { left: 70%; }
// }

// @keyframes goHover_mobile {
//     0% { left: 160px; }
//     100% { left: 75%; }
// }

// @include screen('mobile') {
//     .apply{
//         a{
//             &:after{
//                 left: 160px;
//                 animation: goHover_mobile .6s ease;
//             }

//             &:active, &:focus, &:hover{
//                 &:after{
//                     left: 75%;
//                 }
//             }
//         }
//     }
// }

// 
.content{
    .two-tabs, .links{
        .more{
            a{
                // display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0,0,0,0);
                position: relative;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: .3s;
                transition-duration: .3s;

                border-radius: 3px;
                overflow: hidden;

                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(12, 53, 173, .75);
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: .3s;
                    transition-duration: .3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                &:active, &:focus, &:hover{
                    color: #fff;
                    &:before {
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}



